.container
{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}
.my-form
{
 width: 100%;   
 border: 1px solid rgb(230, 227, 227);
 box-shadow: 5px 5px 15px -5px #000000;
}
.my-form form
{
    flex-direction:column;
    display: flex;
    
}
.form-group
{
 width: 500px;
 padding: 20px;
 flex-direction: column;
 display: flex; 
}
.item-cel
{
    width: 200px;
    padding: 10px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.square
{
    width: 200px;
    height: 200px;
}
.envio-gratis
{
    color: #00a650;
}
body
{
    font-family: 'Roboto';
    padding: 20px;
}
.btn
{
    background-color: #035afc;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: azure;
}
.btn:hover
{
    background-color:rgb(48, 112, 250);
    cursor: pointer;
    box-shadow: 15px 16px 8px -11px #000000;

}

input:focus{
    color: red;
}
